body {
    background-color: hotpink;
}

h1{
    text-align: center;
    color: white;
    font-family: 'Koulen';
    margin-top: 50px;
}

#container {
    text-align: center;
    margin: auto;
    padding: 10px;
}

button{
    font-family: 'Koulen';
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 30px;
    border-radius: 20px;
}

span{
    font-size: 100px;
}

#computer{
    color: white;
    text-align: center;
}
#player{
    color: white;
    text-align: center;
}
#results{
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}
